h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  margin: 2rem 5rem;
  background: $primary-color;  
  font-family: $font-title;

  @include responsive(tablet) {
    font-size: 5rem;
  }
  @include responsive(desktop) {
    font-size: 8rem;
  }
}

.score {
  background: rgba(255,255,255,0);
  line-height: 1;
  border-radius: 1rem;
}

.game {
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  @include responsive-width;
  @include responsive(tablet) {
    height: 500px;
  }
  @include responsive(desktop) {
    height: 650px;
  }
}

.gameOptions {
  display: flex;
  justify-self: center;
  justify-content: center;
  height: fit-content;
  margin: 40px auto;
  gap: 20px;
  
  @include responsive-width;
}

input {
  flex-grow: 4;
  height: auto;
  border-radius: .2rem;
  font-family: $font-title;

  @include responsive-font-size;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;

  &:after {
    display: block;
    background: url('./imgs/dirt.svg') bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -20px;

    @include responsive(tablet) {
      bottom: -28px;
    }
    @include responsive(desktop) {
      bottom: -30px;
    }
  }
}

.mole {
  background: url('./imgs/mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

button {
  flex-grow: 2;
  height: fit-content;
  padding: 10px;
  border-radius: .2rem;
  background-color: $secondary-color;
  
  color: white;
  font-weight: bold;

  @include responsive-font-size;
}
