@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 0) { @content }
  };
  @if $breakpoint == tablet {
    @media only screen and (min-width: 720px) { @content }
  };
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1280px) { @content }
  };
}


@mixin responsive-font-size {
  font-size: .8rem;
  @include responsive(tablet) {
    font-size: 1.2rem;
  }
  @include responsive(desktop) {
    font-size: 1.4rem;
  }
}


@mixin responsive-width {
  width: 350px;
  @include responsive(tablet) {
    width: 500px;
  }
  @include responsive(desktop) {
    width: 600px;
  }
}

