h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  margin: 2rem 5rem;
  background: #ffc600;
  font-family: "Amatic SC", cursive;
}
@media only screen and (min-width: 720px) {
  h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 1rem;
  font-weight: bold;
  color: firebrick;
  filter: sepia(1);
  margin: 0 0 10px 0;
  font-size: 0.8rem;
}
@media only screen and (min-width: 720px) {
  h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 1.4rem;
  }
}

.score {
  background: rgba(255, 255, 255, 0);
  line-height: 1;
  border-radius: 1rem;
}

.game {
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 50px auto;
  cursor: url("./imgs/hammer.png"), pointer;
  width: 350px;
}
@media only screen and (min-width: 720px) {
  .game {
    width: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .game {
    width: 600px;
  }
}
@media only screen and (min-width: 720px) {
  .game {
    height: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .game {
    height: 650px;
  }
}

.gameOptions {
  display: flex;
  height: fit-content;
  margin: 0 auto 100px auto;
  gap: 10px;
  width: 350px;
}
@media only screen and (min-width: 720px) {
  .gameOptions {
    width: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .gameOptions {
    width: 600px;
  }
}

input {
  padding-left: 10px;
  flex-grow: 1;
  height: auto;
  border-radius: 0.2rem;
  font-family: "Amatic SC", cursive;
  font-size: 0.8rem;
}
@media only screen and (min-width: 720px) {
  input {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  input {
    font-size: 1.4rem;
  }
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}
.hole:after {
  display: block;
  background: url("./imgs/dirt.svg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}
@media only screen and (min-width: 720px) {
  .hole:after {
    bottom: -28px;
  }
}
@media only screen and (min-width: 1280px) {
  .hole:after {
    bottom: -30px;
  }
}

.mole {
  background: url("./imgs/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

button {
  height: fit-content;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: firebrick;
  color: white;
  font-size: 0.8rem;
  filter: sepia(1);
}
@media only screen and (min-width: 720px) {
  button {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  button {
    font-size: 1.4rem;
  }
}

.bestScores {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 50%;
  background-color: #ffc600;
  filter: sepia(1);
  margin: 0 auto;
  border-radius: 0.2rem;
}
.bestScores .row {
  display: grid;
  grid-template-columns: 15% auto 25%;
  column-gap: 10px;
  text-align: center;
  font-size: 0.8rem;
}
@media only screen and (min-width: 720px) {
  .bestScores .row {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .bestScores .row {
    font-size: 1.4rem;
  }
}
.bestScores .position {
  padding: 5px;
  text-align: center;
  background-color: firebrick;
  filter: sepia(1);
  border-radius: 0.2rem;
  color: white;
}
.bestScores .name {
  overflow: hidden;
}

html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  margin: 2rem 5rem;
  background: #ffc600;
  font-family: "Amatic SC", cursive;
}
@media only screen and (min-width: 720px) {
  h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 1rem;
  font-weight: bold;
  color: firebrick;
  filter: sepia(1);
  margin: 0 0 10px 0;
  font-size: 0.8rem;
}
@media only screen and (min-width: 720px) {
  h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 1.4rem;
  }
}

.score {
  background: rgba(255, 255, 255, 0);
  line-height: 1;
  border-radius: 1rem;
}

.game {
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 50px auto;
  cursor: url("./imgs/hammer.png"), pointer;
  width: 350px;
}
@media only screen and (min-width: 720px) {
  .game {
    width: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .game {
    width: 600px;
  }
}
@media only screen and (min-width: 720px) {
  .game {
    height: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .game {
    height: 650px;
  }
}

.gameOptions {
  display: flex;
  height: fit-content;
  margin: 0 auto 100px auto;
  gap: 10px;
  width: 350px;
}
@media only screen and (min-width: 720px) {
  .gameOptions {
    width: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .gameOptions {
    width: 600px;
  }
}

input {
  padding-left: 10px;
  flex-grow: 1;
  height: auto;
  border-radius: 0.2rem;
  font-family: "Amatic SC", cursive;
  font-size: 0.8rem;
}
@media only screen and (min-width: 720px) {
  input {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  input {
    font-size: 1.4rem;
  }
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}
.hole:after {
  display: block;
  background: url("./imgs/dirt.svg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}
@media only screen and (min-width: 720px) {
  .hole:after {
    bottom: -28px;
  }
}
@media only screen and (min-width: 1280px) {
  .hole:after {
    bottom: -30px;
  }
}

.mole {
  background: url("./imgs/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

button {
  height: fit-content;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: firebrick;
  color: white;
  font-size: 0.8rem;
  filter: sepia(1);
}
@media only screen and (min-width: 720px) {
  button {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  button {
    font-size: 1.4rem;
  }
}

.bestScores {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 50%;
  background-color: #ffc600;
  filter: sepia(1);
  margin: 0 auto;
  border-radius: 0.2rem;
}
.bestScores .row {
  display: grid;
  grid-template-columns: 15% auto 25%;
  column-gap: 10px;
  text-align: center;
  font-size: 0.8rem;
}
@media only screen and (min-width: 720px) {
  .bestScores .row {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .bestScores .row {
    font-size: 1.4rem;
  }
}
.bestScores .position {
  padding: 5px;
  text-align: center;
  background-color: firebrick;
  filter: sepia(1);
  border-radius: 0.2rem;
  color: white;
}
.bestScores .name {
  overflow: hidden;
}