@import 'config';
@import 'responsive';
@import 'game';


html {
  box-sizing: border-box;
  background: $primary-color;
  font-family: $font-normal;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
