/* BUTTON STYLING */
.text-btn {
  height: fit-content;
  border: none;
  background-color: $background-color;
  color: $primary-dark-1;
}
.read-more-btn {
  display: flex;
  column-gap: $small-padding;
}
.language-btn {
  border: none;
  background-color: $background-color;
  display: flex;
  column-gap: $tiny-padding;
  padding: 5px 30px;
  align-items: center;
  color: $grey-0;
}