/* BUTTON STYLING */
.text-btn {
  height: fit-content;
  border: none;
  background-color: $background-color;
  color: $primary-dark-1;
}
.menu-btn {
  border: none;
  background-color: $background-color;
  color: $black;
  transition-duration: 0.4s;
}
.read-more-btn {
  display: flex;
  column-gap: $small-padding;
}
.menu-option {
  text-decoration: none;
  color: $grey-0;
  text-align: center;
  margin-bottom: 60px;
}
.language-btn {
  border: none;
  background-color: $background-color;
  display: flex;
  column-gap: $tiny-padding;
  padding: 5px 30px;
  align-items: center;
  color: $grey-0;
}