@import 'config';
@import 'mediaQueries';
@import 'buttons';
@import 'text';
@import 'icon';
@import 'footer';
@import 'nav';
@import 'cards';
@import 'main';


body {
  font-family: "Roboto Slab", "Roboto";
}
img {
  object-fit: cover;
}
hr {
  width: 100%;
  background-color: $primary-dark-1;
  height: .5px;
  border-width: 0;
  margin: $small-padding 0;
}
.img--offset-center {
  object-position: center 70%; 
}
.img--position-top {
  object-position: top;
}
.top-margin--medium {
  margin-top: $medium-padding;
}
.bottom-margin--big {
  margin-bottom: $big-padding;
}
.color--grey {
  background-color: $grey-4;
}
