body {
  font-family: 'Roboto Slab';
}

img {
  position: relative;
  z-index: -1;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.characters-container {
  margin-left: 170px;
  margin-right: 170px;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  
  float: left; 
  width: 220px;
  height: 280px;
  overflow: hidden;
  margin-left: 20px;
  
  border-radius: 20px;
  background-image: linear-gradient(rgba(255,255,255,0), rgb(0,0,0));
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.not-centered-image { object-position: center 70%; }

.names {
  position: absolute;
  
  bottom: 30px;
  width: 100%;
  
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

.top-image { object-position: top; }
