/* BUTTON STYLING */
.text-btn {
  height: fit-content;
  border: none;
  background-color: $background-color;
  color: $primary-dark-1;
}
.menu-btn {
  border: none;
  background-color: aqua;
}
.read-more-btn {
  display: flex;
  column-gap: $small-padding;
}
