/* ICON STYLING */
.fa-chevron-down {
  width: 12px;
  height: 6px;
  font-size: 16px;
  line-height: 20px;
}
.fa-bars {
  width: 18px;
  height: 18px;
  grid-area: menu;
}
.fa-magnifying-glass {
  font-size: 20px;
  color: $grey-1;
}
.fa-location-dot {
  font-size: 11px;
}